
<div class= "container" style="padding-top: 30px ;">
    <h3>Mis Reservas</h3>
  
    
      <div class="row-12">
        <nav class="navbar navbar-light bg-transparent">
          <form class="container-fluid">
            <button class="btn btn-outline-success active" type="button" routerLink="../booking-consulta" style="margin:5px">Consultar</button>
            <button class="btn btn-outline-success" type="button" routerLink="../booking" style="margin:5px">Crear Nueva</button>
          </form>
        </nav>
      </div>
  
  
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID Reserva</th>
            <th scope="col">Estado</th>  <!--vigente/vencido/cancelada -->
            <th scope="col">Zona Reservada</th>
            <th scope="col">Fecha de Reserva</th>
            <th scope="col">Hora de Reserva</th>
            <th scope="col">Acompañante</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">01000</th>
            <td>Vigente</td>
            <td>Gimnasio</td>
            <td>27/01/2022</td>
            <td>06:00 a.m.</td>
            <td>Juan Carlos Aguilar</td>
          </tr>
  
          <tr>
            <th scope="row">01001</th>
            <td>Anulada</td>
            <td>Gimnasio</td>
            <td>26/01/2022</td>
            <td>06:00 a.m.</td>
            <td>-</td>
          </tr>
  
          <tr>
            <th scope="row">01010</th>
            <td>Vigente</td>
            <td>Sala Cine 1</td>
            <td>30/01/2022</td>
            <td>-</td>
            <td>-</td>
          </tr>
  
          <tr>
            <th scope="row">01015</th>
            <td>Vigente</td>
            <td>Area Parrillas 3</td>
            <td>14/02/2022</td>
            <td>-</td>
            <td>-</td>
          </tr>
  
        </tbody>
      </table>
  
    </div>
  
  </div>