button:hover{
    background: rgb(100, 100, 255);
    border: rgb(100, 100, 255);
  }
  
  button{
    background: white;
  }  

  .container {
    position: relative; 
  }

  .container::before {
    position: absolute;  
    background-image: url('/src/assets/img/Inicio/fondo_1.jpg');
    content: "";
    background-size: cover;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
  }

  