<div class= "container" style="padding-top: 30px ;"> 
     
  <form method="post" style="background-color: rgba(255,255,255,0.9);">
    <h2 class="text-center" style="color: #0e0d0dfa;font-size: 26px; margin-bottom:20px;"><br>Emisión de Comprobante<br></h2>
    <br>
 
    <div class="control-label col-md-3 col-sm-3 col-xs-12">
      <label><strong> Tipo de documento: </strong></label>
    <select class="form-control form-control-sm" style="color: rgb(0,0,0);">
      <option value="1" selected="">Seleccionar tipo de documento</option>
      <option value="2">Boleta</option>
      <option value="3">Factura</option>
      <option value="4">Guia de remisión</option>
      <option value="5">Otro documento</option>
    </select>
    </div>
    <br>
    <div class="control-label col-md-6 col-sm-3 col-xs-12">
      <label><strong> Nombres y Apellidos: </strong></label>
      <input class="form-control" type="text" name="name" autocomplete="off" style="color: rgb(0,0,0);">
    </div>
    <br>
    <div class="control-label col-md-3 col-sm-3 col-xs-12">
      <label><strong> N° de Torre: </strong></label>
    <select class="form-control form-control-sm" style="color: rgb(0,0,0);">
      <option value="1" selected="">Seleccionar torre</option>
      <option value="2">Torre 1</option>
      <option value="3">Torre 2</option>
      <option value="4">Torre 3</option>
      <option value="5">Torre 4</option>
    </select>
    </div>
    <br>
    <div class="control-label col-md-3 col-sm-3 col-xs-12">
      <label><strong> N° de departamento: </strong></label>
    <select class="form-control form-control-sm" style="color: rgb(0,0,0);">
      <option value="1" selected="">Seleccionar departamento</option>
      <option value="2">1</option>
      <option value="3">2</option>
      <option value="4">3</option>
      <option value="5">4</option>
    </select>
    </div>      
    <br>
      
    <table class="table" style="margin:0px;">
      <thead style="background-color: rgba(52,58,64,0.75);color: rgb(255,255,255);">
          <tr>
              <th class="align-middle"><Table>Tipo de documento</Table></th>
              <th class="align-middle">Nombres y Apellidos</th>
              <th class="align-middle">Nro. Torre</th>
              <th class="align-middle"><strong>Detalle</strong></th>
              <th class="align-middle" style="text-align: center;">Mostrar Detalle</th>
              <th class="align-middle" style="text-align: center;">Eliminar</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td class="align-middle"></td>
              <td class="align-middle"></td>
              <td class="align-middle"></td>
              <td class="align-middle"></td>
              <td class="text-center"><a href="#" class="btn btn-outline-dark"><i class="fa fa-pencil"></i></a></td>
              <td class="text-center"><a href="#" class="btn btn-outline-danger"><i class="fa fa-remove"></i></a></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center"><a href="#" class="btn btn-outline-dark"><i class="fa fa-pencil"></i></a></td>
              <td class="text-center"><a href="#" class="btn btn-outline-danger"><i class="fa fa-remove"></i></a></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center"><a href="#" class="btn btn-outline-dark"><i class="fa fa-pencil"></i></a></td>
              <td class="text-center"><a href="#" class="btn btn-outline-danger"><i class="fa fa-remove"></i></a></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center"><a href="#" class="btn btn-outline-dark"><i class="fa fa-pencil"></i></a></td>
              <td class="text-center"><a href="#" class="btn btn-outline-danger"><i class="fa fa-remove"></i></a></td>
          </tr>
      </tbody>
  </table>
      </form>
    </div>
    
      <div class="form-group text-center">
        <button class="btn btn-primary" type="submit" style="background-color: #18813b;font-weight: normal;">Consulta</button>
      </div>
 