

   <div class= "container" style="padding-top: 30px ;"> 
    <div class="row">
      
     
       
        <h2>Historial Visitas</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>DNI</th>
                <th>Nombres y Apellidos</th>
                <th>Fecha</th>
                <th>Hora Ingreso</th>
                <th>Hora Salida</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>75463234</td>
                <td>Manuel Ramirez</td>
                <td>15/12/2021</td>
                <td>11:45</td>
                <td>18:59</td>
              </tr>
              <tr>
                <td>11223344</td>
                <td>Samuel Cardenas</td>
                <td>17/12/2021</td>
                <td>11:05</td>
                <td>20:59</td>
              </tr>
              <tr>
                <td>55774488</td>
                <td>Manuel Salazar</td>
                <td>25/12/2021</td>
                <td>10:45</td>
                <td>11:49</td>
              </tr>
              <tr>
                <td>99885544</td>
                <td>Andy Merino</td>
                <td>25/12/2021</td>
                <td>12:00</td>
                <td>16:09</td>
              </tr>
              <tr>
                <td>48574896</td>
                <td>David Gallego</td>
                <td>25/12/2021</td>
                <td>13:01</td>
                <td>20:00</td>
              </tr>
              <tr>
                <td>55990022</td>
                <td>Samuel Henz</td>
                <td>28/12/2021</td>
                <td>14:52</td>
                <td>21:15</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
