<div class= "container">
    <h3>Registro de Usuario</h3>
    
      <div class="row-12">
        <nav class="navbar navbar-light bg-transparent justify-content-between">
          <form class="container-fluid">
            <button class="btn btn-outline-success" type="button" routerLink="../usuario-consulta" style="margin:5px">Consultar</button>
            <button class="btn btn-outline-success active" type="button" routerLink="../usuario" style="margin:5px">Crear Nuevo</button>
          </form>
        </nav>
      </div>
      <div class="row">
        <div class="col-sm-5 d-none d-lg-block">
          <img src="assets/img/Inicio/user.jpg" alt="user" style="max-height:100%;max-width:100%; opacity:0.90" class="img-fluid" alt="Responsive image">
          <!-- la opacidad va dentro del style -->
        </div>
        <div class="col">
          <form [formGroup] = "userForm">


                <div class="col" style="padding: 0px;">
                  <input type="text" class="form-control form-control-md" id="nombre" placeholder="Nombres" formControlName="nombres" required autocomplete="off">  
                </div>
                <p></p>
                <div class="col" style="padding: 0px;">
                  <input type="text" class="form-control form-control-md" id="apellido" placeholder="Apellidos" formControlName="apellidos" required autocomplete="off">  
                </div>
                <div class= "row">
                  <p></p>
                </div>
                <div class="row">
                  <div class="col-6" >
                    <select class="form-control form-control-md" id="tipo_doc" name="tipo_doc" formControlName="tipo_doc" required>
                      <option value="undefined" disabled [selected]="true">Tipo Documento</option>
                      <option value="DNI">DNI</option>
                      <option value="CE">Carnet Extranjeria</option>
                      <option value="OTRO">Otro Documento</option>
                    </select> 
                  </div> 
                  <div class="col-6" >
                    <input type="text" class="form-control form-control-md" id="num_doc" placeholder="N° de documento" formControlName="num_doc" required autocomplete="off">  
                  </div>

                </div>
                <div class= "row">
                  <p></p>
                </div>

                <div class="row">
                  <div class="col-6" >
                    <input type="tel" class="form-control form-control-md" id="telefono" placeholder="Teléfono de Contacto" formControlName="num_tel" required autocomplete="off">  
                  </div>
                  <div class="col-6" >
                    <input type="email" class="form-control form-control-md" id="email" placeholder="Correo eletrónico" formControlName="email" required autocomplete="off">  
                  </div>
                </div>

              <div class= "row">
                <p></p>
              </div>
              
              <div class="row">
                <div class="col-6" >
                  <select class="form-control form-control-md" id="tipo_user" name="tipo_user" formControlName="tipo_user" required>
                    <option value="undefined" disabled [selected]="true">Tipo Usuario</option>
                    <option value="estandar">Estandar</option>
                    <option value="administrador">Administrador</option>
                  </select> 
                </div> 
                <div class="col-6" >
                  <input type="text" class="form-control form-control-md" id="user_id" placeholder="ID de usuario" formControlName="user_id" required autocomplete="off">  
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="text-center">
                  <button class="btn btn-outline-success" type="submit" >Guardar Usuario</button>
                </div>
              </div> 
              
              <!-- <p> datos json {{userForm.value | json }}</p> -->


          </form>
      </div>  
</div>
