<div class= "container" style="padding-top: 30px ;">
    <h3>Consultar Usuario</h3>
    
      <div class="row-12">
        <nav class="navbar navbar-light bg-transparent justify-content-between">
          <form class="container-fluid">
            <button class="btn btn-outline-success" type="button" routerLink="../usuario-consulta" style="margin:5px">Consultar</button>
            <button class="btn btn-outline-success active" type="button" routerLink="../usuario" style="margin:5px">Crear Nuevo</button>
          </form>
        </nav>
      </div>

      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Estado</th>
              <th scope="col">Tipo</th>  
              <th scope="col">Nombres</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Tipo Doc.</th>
              <th scope="col">N° Dcto</th>
              <th scope="col">Teléf. Contacto</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">01000</th>
              <td>Activo</td>
              <td>Estandar</td>
              <td>Veronica</td>
              <td>Herrera</td>
              <td>DNI</td>
              <td>42780353</td>
              <td>953249045</td>
              <td>veronica@hotmail.com</td>
            </tr>
    
            <tr>
              <th scope="row">01001</th>
              <td>Activo</td>
              <td>Estandar</td>
              <td>Alvaro</td>
              <td>Alfaro</td>
              <td>DNI</td>
              <td>09400054</td>
              <td>937484123</td>
              <td>alvaro@hotmail.com</td>
            </tr>
    
            <tr>
              <th scope="row">01010</th>
              <td>Activo</td>
              <td>Estandar</td>
              <td>Jorge</td>
              <td>Alcazar</td>
              <td>DNI</td>
              <td>07443759</td>
              <td>936989834</td>
              <td>jorge@hotmail.com</td>
            </tr>
    
            <tr>
              <th scope="row">01015</th>
              <td>Inactivo</td>
              <td>Estandar</td>
              <td>Ricardo</td>
              <td>Reyes</td>
              <td>DNI</td>
              <td>41609203</td>
              <td>995380840</td>
              <td>ricardo@hotmail.com</td>
            </tr>

            <tr>
              <th scope="row">01015</th>
              <td>Inactivo</td>
              <td>Administrador</td>
              <td>Franklin</td>
              <td>Sarango</td>
              <td>DNI</td>
              <td>42056955</td>
              <td>934856123</td>
              <td>franklin@hotmail.com</td>
            </tr>
    
          </tbody>
        </table>
    
      </div>

</div>
