<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0 shadow" style="background-color: rgba(0, 0, 0, 0.075); border:none;" href="#">Condominios360</a>
 <!--  <input class="form-control form-control-dark w-100" type="text" placeholder="Busqueda" aria-label="Search"> -->
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Salir</a>
    </li>
  </ul>
 </nav>


<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Mis Accesos</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>

        <ul class="nav flex-column">
<!--           <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home" ></span>
              Mis Accesos <span class="sr-only">(current)</span>
            </a>
          </li> -->
 
          <li class="nav-item">
            <a class="nav-link" href="../booking-consulta">
              <span data-feather="file-text"></span>
              Reservas
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../comunicacion1">
              <span data-feather="file-text"></span>
              Comunicaciones
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../historial-pagos">
              <span data-feather="file-text"></span>
              Mis Pagos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../historial-visitas">
              <span data-feather="file-text"></span>
              Mis Visitas
            </a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Bandeja de Entrada
            </a>
          </li>-->
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Administracion</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="../usuario">
              <span data-feather="file-text"></span>
              Usuarios
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../apartment1">
              <span data-feather="file-text"></span>
              Departamentos
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="../maintenance">
                <span data-feather="file-text"></span>
                Mantenimiento
              </a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="../registro-gastos">
              <span data-feather="file-text"></span>
              Registro Gastos
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="../emitir-boleta">
              <span data-feather="file-text"></span>
              Emision Boleta
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="../register">
                <span data-feather="file-text"></span>
               Registro Visitas
              </a>
            </li>
        </ul>
      </div>
    </nav>
  </div>
</div>


<section style="min-height: 650px; padding-top: 0px; padding-bottom: 0px;">
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    
  <router-outlet></router-outlet>
  </main>
</section>