
<div class= "container" style="padding-top: 30px ;">
  <h3>Configuración de departamentos</h3>
  
    <div class="row-12">
      <nav class="navbar navbar-light bg-transparent justify-content-between">
        <form class="container-fluid">
            <button class= "btn btn-outline-success" type="button" routerLink="/apartment1" style="margin:5px">Consulta</button>
			      <button class= "btn btn-outline-success active" type="button" routerLink="/apartment2"style="margin:5px">Creación</button>
        </form>
      </nav>
    </div>

  <div class="row">
    <div class="col-6">
      <img src="assets/img/Inicio/fondo_1.jpg" alt="fondo1" style="max-height:100%;max-width:100%;" class="img-fluid" alt="Responsive image">
    </div>


      <div class="col-6">
          <form [formGroup] = "apartment2Form">

              <div class="row" > 
                    <div class="col 6">
                      <label for="Condominio" class="form-group">Condominio</label>
                          <div class="col-6">
                          <select class="form-group"  id="Condominio"   name="Condominio" placeholder="P" formControlName="Condominio">
                            <option value="1" selected=""></option>
                            <option value="2">Las Orquideas 12</option>
                            <option value="3">Las Orquideas 13</option>
                            <option value="4">Las Orquideas 14</option>
                          </select>
                          </div>  
                    </div>
                
                    <div class="col 6">
                      <label for="AreaCondominio" class="form-group">Sector</label>
                            <div class="col-6"> 
                            <select class="form-group" id="AreaCondominio"   name="AreaCondominio" placeholder="P"  formControlName="AreaCondominio">
                              <option value="1" selected=""></option>
                              <option value="2">Torre 12</option>
                              <option value="3">Torre 13</option>
                              <option value="4">Torre 14</option>
                            </select>
                            </div>
                    </div>

            </div>

            <div class= "row">
                    <div class="col 6">
                      <label for="inputDNIPropietario">Nro doc del Propietario</label>
                            <div class = "col-6">
                            <input type="text" formControlName="DNIPropietario" id="inputDNIPropietario" placeholder="">
                            </div>       
                    </div>  

                    <div class="col 6">
                      <label for="inputDNIHabitante">Nro doc del Habitante</label>
                            <div class = "col-6">
                              <input type="text" formControlName="DNIHabitante" id="inputDNIHabitante" placeholder="">
                              </div>       
                    </div>  
            </div> 



            <div class= "row">
                    <div class="col 2">
                      <label for="inputNroDepartamento">Nro de departamento</label>
                              <div class = "col-6">
                                <input type="text" formControlName="NroDepartamento" id="inputNroDepartamento" placeholder="">
                              </div>  
                    </div>
                              
                    <div class="col 2">
                      <label for="inputArea">Área (m2)</label>
                                <div class = "col-6">
                                  <input type="number" formControlName="Area" id="inputArea" placeholder="">
                                </div>  
                    </div>
                  
                    <div class="col 2">
                      <label for="inputPiso">Piso</label>
                                <div class = "col-6">
                                  <input type="number" formControlName="Piso" id="inputPiso" placeholder="">
                                </div>  
                    </div> 

          </div> 



            <div class= "row">
                <div class="col 6">
                  <label for="TipoDepartamento" class="form-label">Tipo de departamento</label>
                          <div class="col-6" >
                          <select class="form-group" id="TipoDepartamento"   name="TipoDepartamento" placeholder="P" formControlName="TipoDepartamento">
                            <option value="0" selected=""></option>
                            <option value="1">Flat</option>
                            <option value="2">Duplex</option>
                            <option value="3">Triplex</option>
                          </select>
                          </div> 
                </div>
            
                <div class="col 2">
                  <label for="CantHabitaciones">Piso</label>
                      <div class = "col-6">
                        <input type="number" formControlName="CantHabitaciones" id="InputCantHabitaciones" placeholder="">
                      </div>  
                </div>
               
                <div class="col 2">
                  <label for="CantBanios" class="form-label"># Baños</label>
                      <div class = "col-6">
                        <input type="number" formControlName="CantBanios" id="InputCantBanios" placeholder="">
                      </div>  
                </div>  
                <br>
            </div> 
                <div class="col-6">
                  <button (click)="__onSubmit()" class="btn btn-info btn-sm">Enviar</button>
                </div>
          </form>
      </div>
  </div>
</div>


