<body class="bg-gradient-primary">

    
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image">
                        <img src="assets/img/Inicio/registro_1.jpg" width="450" height="450">
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Registra las Visitas!</h1>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="nombre"
                                            placeholder="Primer Nombre">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="apePat"
                                            placeholder="Primer Apellido">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="correo"
                                        placeholder="Correo Electronico">
                                </div>
                                <div class="form-group">
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control form-control-user" id="nroDNI"
                                                placeholder="DNI">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control form-control-user" id="nroDep"
                                                placeholder="N° Departamento">
                                        </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="time" class="form-control form-control-user"
                                            id="horaIng" placeholder="Hora de Ingreso">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="time" class="form-control form-control-user"
                                            id="horaSal" placeholder="Hora de Salida">
                                    </div>
                                </div>
                                <a routerLink="../index" class="btn btn-primary btn-user btn-block">
                                    Registrar Visita
                                </a>
                                <hr>
                            </form>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>