
      
           <div class= "container" style="padding-top: 30px ;"> 
          <h1 class="h2">Mis últimos Gastos</h1>
          <!--<div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button class="btn btn-sm btn-outline-secondary">Share</button>
              <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              This week
            </button>
          </div>-->
        </div>

        <div class="col-xl-12">
          <div class="row">
            <div class="col-md-6 col-6">
              <div class="card">
                <div class="card-header mx-4 p-3 text-center">
                  <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                    <i class="material-icons opacity-10">Reserva 1</i>
                  </div>
                </div>
                <div class="card-body pt-0 p-3 text-center">
                  <h6 class="text-center mb-0">Piscina</h6>
                  <span class="text-xs">Fecha: 01/01/2022</span>
                  <hr class="horizontal dark my-3">
                  <h5 class="mb-0">S/. 50.00</h5>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="card">
                <div class="card-header mx-4 p-3 text-center">
                  <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                    <i class="material-icons opacity-10">Reserva 2</i>
                  </div>
                </div>
                <div class="card-body pt-0 p-3 text-center">
                  <h6 class="text-center mb-0">Gimnasio</h6>
                  <span class="text-xs">Fecha: 05/01/2022</span>
                  <hr class="horizontal dark my-3">
                  <h5 class="mb-0">S/. 80.00</h5>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="card">
                <div class="card-header mx-4 p-3 text-center">
                  <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                    <i class="material-icons opacity-10">Reserva 3</i>
                  </div>
                </div>
                <div class="card-body pt-0 p-3 text-center">
                  <h6 class="text-center mb-0">Gimnasio</h6>
                  <span class="text-xs">Fecha: 05/01/2022</span>
                  <hr class="horizontal dark my-3">
                  <h5 class="mb-0">S/. 80.00</h5>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="card">
                <div class="card-header mx-4 p-3 text-center">
                  <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                    <i class="material-icons opacity-10">Reserva 4</i>
                  </div>
                </div>
                <div class="card-body pt-0 p-3 text-center">
                  <h6 class="text-center mb-0">Parrillas</h6>
                  <span class="text-xs">Fecha: 12/01/2022</span>
                  <hr class="horizontal dark my-3">
                  <h5 class="mb-0">S/. 100.00</h5>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="card">
                <div class="card-header mx-4 p-3 text-center">
                  <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                    <i class="material-icons opacity-10">Reserva 5</i>
                  </div>
                </div>
                <div class="card-body pt-0 p-3 text-center">
                  <h6 class="text-center mb-0">Cancha de Futbol</h6>
                  <span class="text-xs">Fecha: 20/01/2022</span>
                  <hr class="horizontal dark my-3">
                  <h5 class="mb-0">S/. 90.00</h5>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="card">
                <div class="card-header mx-4 p-3 text-center">
                  <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                    <i class="material-icons opacity-10">Reserva 6</i>
                  </div>
                </div>
                <div class="card-body pt-0 p-3 text-center">
                  <h6 class="text-center mb-0">Cancha de Tennis</h6>
                  <span class="text-xs">Fecha: 22/01/2022</span>
                  <hr class="horizontal dark my-3">
                  <h5 class="mb-0">S/. 120.00</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="assets/bootstrap/css/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="assets/js/vendor/popper.min.js"></script>
  <script src="assets/bootstrap/css/bootstrap.min.js"></script>

  <!-- Icons -->
  <script src="assets/bootstrap/css/feather.min.js"></script>
  <script>
    feather.replace()
  </script>

  <!-- Graphs -->
  <script src="assets/bootstrap/css/Chart.min.js"></script>
  <script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
        datasets: [{
          data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
          lineTension: 0,
          backgroundColor: 'transparent',
          borderColor: '#007bff',
          borderWidth: 4,
          pointBackgroundColor: '#007bff'
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: false
            }
          }]
        },
        legend: {
          display: false,
        }
      }
    });
  </script>