
   <div class= "container" style="padding-top: 30px ;"> 
    <div class="row">
      
      
       
        <h2>Historial Pagos</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Boleta</th>
                <th>Monto</th>
                <th>Metodo Pago</th>
                <th>Fecha Pago</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>14/08/2021</td>
                <td>B-0001102</td>
                <td>S/. 450.00</td>
                <td>Visa</td>
                <td>31/08/2021</td>
              </tr>
              <tr>
                <td>15/09/2021</td>
                <td>B-0004202</td>
                <td>S/. 490.00</td>
                <td>Visa</td>
                <td>30/09/2021</td>
              </tr>
              <tr>
                <td>21/10/2021</td>
                <td>B-0008245</td>
                <td>S/. 550.00</td>
                <td>Efectivo</td>
                <td>31/10/2021</td>
              </tr>
              <tr>
                <td>21/11/2021</td>
                <td>B-0012451</td>
                <td>S/. 620.00</td>
                <td>Efectivo</td>
                <td>30/11/2021</td>
              </tr>
              <tr>
                <td>21/12/2021</td>
                <td>B-0042451</td>
                <td>S/. 250.00</td>
                <td>Visa</td>
                <td>31/12/2021</td>
              </tr>
              <tr>
                <td>14/01/2022</td>
                <td>B-0025151</td>
                <td>S/. 120.00</td>
                <td>Visa</td>
                <td>25/01/2022</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>