<div class= "container" style="padding-top: 30px ;"> 
  <body id="page-top">
  
  <form method="post" style="background-color: rgba(255,255,255,0.9);">
      <h2 class="text-center" style="color: #0e0d0dfa;font-size: 26px; margin-bottom:20px;"><br>Registro de Gastos<br></h2>
      
      <div class="control-label col-md-3 col-sm-3 col-xs-12"> 
        <label ><strong> Código de Registro: </strong></label>
        <input class="form-control" disabled=»disabled» type="text" name="name" autocomplete="off" style="color: rgb(0,0,0);">
      </div>
      <br>
      <div class="control-label col-md-6 col-sm-3 col-xs-12">
        <label><strong> RUC: </strong></label>
        <input class="form-control" type="text" name="name" autocomplete="off" style="color: rgb(0,0,0);">
      </div>
      <br>
      <div class="control-label col-md-6 col-sm-3 col-xs-12">
        <label><strong> Razón Social: </strong></label>
        <input class="form-control" type="text" name="name" autocomplete="off" style="color: rgb(0,0,0);">
      </div>
      <br>
      <div class="control-label col-md-3 col-sm-3 col-xs-12">
        <label><strong> Tipo de documento: </strong></label>
      <select class="form-control form-control-sm" style="color: rgb(0,0,0);">
        <option value="1" selected="">Seleccionar tipo de documento</option>
        <option value="2">Boleta</option>
        <option value="3">Factura</option>
        <option value="4">Guia de remisión</option>
        <option value="5">Otro documento</option>
      </select>
      </div>
      <br>
      <div class="control-label col-md-3 col-sm-3 col-xs-12">
        <label><strong> Fecha:</strong></label>
        <input class="form-control" type="date" name="name" autocomplete="off" style="color: rgb(0,0,0);">
      </div>
      <br>
      <div class="control-label col-md-3 col-sm-3 col-xs-12">
        <label><strong> Tipo de gasto: </strong></label>
      <select class="form-control form-control-sm" style="color: rgb(0,0,0);">
        <option value="1" selected="">Seleccionar gasto</option>
        <option value="2">Mantenimiento de Piscina</option>
        <option value="3">Mantenimiento de Ascensor</option>
        <option value="4">Mantenimiento de Edificio</option>
        <option value="5">Otros gastos</option>
      </select>
      </div>
      <br>
      <div class="control-label col-md-3 col-sm-3 col-xs-12">
        <label><strong> N° de Torre: </strong></label>
      <select class="form-control form-control-sm" style="color: rgb(0,0,0);">
        <option value="1" selected="">Seleccionar torre</option>
        <option value="2">Torre 1</option>
        <option value="3">Torre 2</option>
        <option value="4">Torre 3</option>
        <option value="5">Torre 4</option>
      </select>
      </div>
      <br>
      <div class="control-label col-md-3 col-sm-3 col-xs-12">
        <label><strong> N° de departamento: </strong></label>
      <select class="form-control form-control-sm" style="color: rgb(0,0,0);">
        <option value="1" selected="">Seleccionar departamento</option>
        <option value="2">1</option>
        <option value="3">2</option>
        <option value="4">3</option>
        <option value="5">4</option>
      </select>
      </div>      
      <br>
      <div class="control-label col-md-3 col-sm-3 col-xs-12">
        <label><strong> Total a Pagar: </strong></label>
        <input class="form-control" type="text" name="name" autocomplete="off" placeholder="S./" style="color: rgb(0,0,0);">
      </div>
      <br>
      <div class="form-group text-center">
        <button class="btn btn-primary" type="submit" style="background-color: #18813b;font-weight: normal;">Registrar</button>
      </div>
  </form>
  </body>